@font-face {
  font-family: "TiltNeon";
  src: local("TiltNeon"), url(./fonts/tiltneon.ttf) format("truetype");
}
/* 
@font-face {
  font-family: "TiltNeon";
  src: local("TiltNeon"), url(./fonts/tiltneon.ttf) format("truetype");
} */

body {
  width: 18rem;
  background-color: #F2F2F2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.7rem;
}

img {
  width: 80%;
  height: 80%;
  margin-top: 1.7rem;
}

label {
  font-family: "TiltNeon";
  text-align: center;
  margin-top: 0.4rem;
  font-size: 1rem;
}
.container-2 {
  display: flex;
  flex-direction: row;
}

i {
  font-size: 2rem;
  margin: 0.7rem;
}