@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url(./fonts/ubuntu_regular.ttf) format("truetype");
}
/* 
@font-face {
  font-family: "TiltNeon";
  src: local("TiltNeon"), url(./fonts/tiltneon.ttf) format("truetype");
} */

body {
  width: 18rem;
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
}

.title-text {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}

.div-options {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid #c7c7c7;
  border-radius: 0.5rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.div-each-option {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
}

i {
  font-size: 1.3rem;
  color: white;
  margin-right: 0.3rem;
}

.option-text {
  font-family: "Ubuntu";
  font-size: 1.3rem;
  color: white;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.42rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.085rem;
  width: 1.085rem;
  left: 0.167rem;
  bottom: 0.167rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.085rem);
  -ms-transform: translateX(1.085rem);
  transform: translateX(1.085rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
