.replymind-ph-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.replymind-ph-btn {
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #da552f;
    background-color: transparent;
    border: 0.1rem solid #da552f;
    border-radius: 1.4rem;
    padding: 0.1rem 0.6rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    transition: 0.3s;
    white-space: pre-wrap;
}

.replymind-ph-btn:hover:enabled {
    color: white;
    background-color: #da552f;
}

.replymind-ph-btn:active:enabled {
    transform: scale(0.9);
}

.replymind-ph-btn:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}